<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.ptcc9.mapper.AccessoryMapper">

    <resultMap id="BaseResultMap" type="top.ptcc9.domain.Accessory">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="accessoryName" column="accessory_name" jdbcType="VARCHAR"/>
            <result property="accessoryCode" column="accessory_code" jdbcType="VARCHAR"/>
            <result property="usedNum" column="used_num" jdbcType="INTEGER"/>
            <result property="stock" column="stock" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,accessory_name,accessory_code,
        used_num,stock
    </sql>
    <select id="selectList" resultType="top.ptcc9.domain.Accessory">

            SELECT
            id,
            accessory_name,
            accessory_code,
            used_num,
            stock
            FROM accessory
            <where>
                <if test="name != null and name != ''">
                    AND accessory_name LIKE CONCAT('%', #{name}, '%')
                </if>
                <if test="codeNumber != null and codeNumber != ''">
                    AND accessory_code LIKE CONCAT('%', #{codeNumber}, '%')
                </if>
                <if test="stockQuantity != null">
                    AND stock >= #{stockQuantity}
                </if>
                <if test="usageQuantity != null">
                    AND used_num >= #{usageQuantity}
                </if>
            </where>
            ORDER BY used_num DESC
            LIMIT #{page}, #{pageSize}
    </select>
</mapper>
